.title {
  color: #f2f6f9;
  font-size: 3em;
  margin-bottom: 25px; }

#logo{
	height:600px;
	width: 700px;
	margin-top: -200px;
	margin-right: 10px;
}

a {
  color: rgba(242, 246, 249, 0.25);
  text-decoration: none;
  transition: all 300ms;
  -ms-transition: all 300ms;
  -webkit-transition: all 300ms; }


a:hover {
  color: #f2f6f9;
  text-decoration: none;
  transition: all 300ms;
  -ms-transition: all 300ms;
  -webkit-transition: all 300ms; }

html, body {
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-weight: 300; }
  html section, body section {
    position: relative; }
  html div, body div {
    position: relative; }

body {
  background: #1d1d1d; }

nav.navbar.navbar-inverse {
  background-color: #404040;
  border: none;
  font-size: 1.5em; }
  nav.navbar.navbar-inverse .navbar-nav {
    float: none;
    display: inline-block;
    margin-bottom: -8px; }
    nav.navbar.navbar-inverse .navbar-nav a#blue {
      color: #99ddff; }
    nav.navbar.navbar-inverse .navbar-nav a#blue:hover {
      color: yellow; }
    nav.navbar.navbar-inverse .navbar-nav li > a {
      padding: 25px;
      color: white;
      cursor: pointer; }
    nav.navbar.navbar-inverse .navbar-nav li > a:hover {
      color: #99ddff; }

.scroll{
	background-color: #99ddff;
}
nav{
	transition-duration: 1s;
}

#navbar-collapse{
	transition-duration: 1s;
}

#subtitle{
	color: white;
	font-family: "Open Sans", sans-serif;;
	font-size: 20px;
	margin-top: -75px;
}

#main {
  height: 100vh;
  width: 100vw;
  text-align: center;
  padding-top: 30vh; 
  padding-bottom: 20vh;}
  #main .main-header {
    font-weight: 400;
    font-size: 10em;
    color: #5083BF }
    #main .main-header .main-header-x {
      font-weight: 900;
      color: white;
    }
  #main .subtitle {
    margin-top: 10px;
    color: #f2f6f9;
    font-size: 1.75em; }
  #main a.down {
    position: absolute;
    bottom: 10vh;
    cursor: pointer; }
  #main .glyphicon {
    font-size: 1.75em; }



#faq {
  text-align: center;
  padding-top: 20vh;
  padding-bottom: 0vh; 
  margin-top: 40px;
	}
  #faq .content {
    max-width: 1350px;
    margin: auto;
    margin-left: 0px;
    margin-right:0px;
    padding: 0 15vw;
    color: #99ddff;
    font-size: 1.25em; }
  #faq .title{
  	color: yellow;
  }
  #faq .faq-item {
    padding: 15px;
  }
  #faq .question {
    text-align: left;
    font-weight: bold;
    color: #99ddff;
    font-size: 1em;
  }
  #faq .answer {
    font-weight: normal;
    text-align: left;
    color: rgba(242, 246, 249, 0.6);
    font-size: .75em;
  }
  #faq a {
    font-weight: bold;
  }

#terms {
  text-align: center;
  padding-top: 10vh;
  padding-bottom: 20vh; 
}
  #terms .title{
  	color: yellow;
  	margin-top: 15px;
  }
  #terms .content {
    max-width: 1350px;
    margin: auto;
    text-align: center;
    padding: 0 15vw;
    padding-bottom: 15px;
    color: yellow;
    font-size: 1.25em; 
	}
  #terms .term-item ul {
    font-size: 0.75em;
    text-align: center;
    padding: 15px;
    color: yellow }
  #terms .term-heading {
    font-size: 1em;
    text-align: center;
    font-weight: bold;
   	padding: 15px;
    color: #99ddff; }
    


footer {
  height: 100px;
  color: rgba(242, 246, 249, 0.25); }
  footer .icons {
    margin-bottom: 5px; }
    footer .icons a {
      font-size: .75em;
      display: inline-block;
      margin: 0 5px; }
  footer .copyright {
    font-size: 1em;
    margin: 10px 0 5px 0; }
  footer .elevator {
    font-size: 0.8em;
    text-decoration: underline; }


.sponsor {
	text-align: center;
	padding: 10px;
	margin-top: -50px;
}

#reuters-logo{
	height: 100px;
	width: 100px;
	padding: 10px;
	margin-bottom: 10px;
}
/*# sourceMappingURL=style.css.map */
